body{
    display:flex;
    background-image: url(images/background.png);
    background-size: cover;
    background-color:rgba(235, 85, 26, 0.5);
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed;
    flex-direction: column;
}
header{
    display: flex;
    width: 1000px;
    margin: auto;
    align-items: center;
    background-color:coral;
  }

/*Header Styles*/
h1{
    padding: 0 0 0 100px;
}
  
/*Navigation*/
nav{
    width: 1000px;
    margin: auto;
    background-color: rgb(235, 85, 26);
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    flex: 2 1 0;
    text-align: center;
}

nav a{
    padding: 10px;
    text-decoration: none;
    color: black;
    display: inline-block;
  }

nav li:hover{
    background-color: lightsalmon;
}

nav li:hover a{
    color: white;
}

  /*End Navigation*/

/*Buttons CSS*/

button{
    border: none;
    background-color: rgb(255, 71, 71);
    border-radius: 10px;
    text-align: center;
    line-height: 150%;
    font-size: 30px;
    margin: 0px;
    display: block;
    /*This box shadow is number 87 from getcssscan.com shadow examples*/
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

button a{
    display: flex;
    text-decoration: none;
    align-items: center;
    color: white;
    width: 200px;
    height: 80px;
    padding: 10px 24px;
    margin: 0px;
    text-shadow: 2px 2px 2px #000000;
}

.place{
    font-size: 28px;
    align-items: center;
}

.menubutton{
    background-image: url("images/nigiri.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 275px;
    width: 500px;
}
.menulink{
    display: flex;
    text-align: center;
}

/*End button CSS*/

  /*Google Map*/
.gmap_canvas{
    text-align: center;
}